.jumbotron {
  background-color: #1ed900;
  color: black;
  margin-top: 40px;
  margin-bottom: 10px; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #1ed900;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 5px; }

.bnt-reserva {
  width: 100%;
  border-radius: 0; }

.footer-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 5px; }
